NETWORK_STORAGE="//192.168.1.205/peregon"
STORAGE_DIR="НА МОСКВУ/test"
YADISK_API_BASE_URL="https://cloud-api.yandex.net/v1/disk/"
YADISK_DIR="disk:/foo/"
YADISK_OAUTH_TOKEN="y0__xCyi-HABRjf8Tcggp2smRNFgKmbngSPS3PAesfmB5a55wrzmw"
